body {
    background: none !important;
}

* {
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-family: monospace;
    cursor: pointer;
}

.menu {
    font-family: monospace;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgb(0, 0, 0);
    width: 150px;
    border-radius: 3px;
}

.button {
    cursor: pointer;
    background-color: rgb(94, 92, 92);
    padding: 2px;
    
    border-radius: 5px;
    color: rgb(255, 255, 255);
    user-select: none;
   font-size: 12px;
    margin: 5px;
}

.div {
    cursor: pointer;
    background-color: transparent;
    padding: 2px;
    padding-left: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    user-select: none;
    border: none;
    margin-top: 3px;
    transition: all .3s ease;
}

.div:hover {
    border-left: 6px solid rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}



.menu .lateral {
    font-family: monospace;
    font-size: 16px;
    padding: 10px;
    position: fixed;
    top: 20px;
    left: 180px;
    background-color: rgb(0, 0, 0);
    width: 50%;
    border-radius: 3px;

}


.lateral table {
    width: 100%; 
    font-family: monospace;
}


option {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: monospace;
}

details,
summary {
    padding: 2px;
    transition: all 0.2s ease;
    font-size: 17px;
}

summary:hover {
    background-color: brown;
}


.lateral input[type='color'] {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
width: 50px;
}

.lateral input {
    cursor: pointer;
    width: 80%;
    background-color: rgb(64, 64, 64);
}

label:hover {
    color: aqua;
}

tr,
td,
th {
    text-align: center;
    align-items: center;
}

font {
    border: none
}



.box {
    border: 1px solid aliceblue;
}
 

.Sair {
    background-color: rgb(207, 68, 105);
    padding: 3px;
    border-radius: 7px;
    color: aliceblue;
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    border: none;
}

input {
    -webkit-appearance: none;
    width: 100;
    background: transparent;
    height: 20px;
    border: none;
}

input::-webkit-slider-runnable-track {
    width: 100;
    height: 15px;
    background: rgb(116, 116, 116);
    border-radius: 5px;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 50px;
}

.rodape{
    position: fixed;
    bottom: 10px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.398);
    padding-left: 25%;
}
.rodape input{
    min-width: 50% !important;
    background-color: transparent;
}